<!-- Author Daniel Bis, Abraham D'mitri Joseph -->

{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}

    <link rel="stylesheet" href="../../static/signin.css" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="../../static/bootstrap-social.css" xmlns="http://www.w3.org/1999/html">

{% endblock %}
{% block scripts %}
  {{super()}}
<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
{% endblock %}


{% block content %}
<style type="text/css">
	/*body{
		position: absolute;
	    min-height:90%;
	    width: 100%;
	    height: auto;
	    top: 0;
	    left: 0;

		background: linear-gradient(
	      rgba(0, 0, 0, 0.5),
	      rgba(0, 0, 0, 0.5)
    	), url({{url_for("static" , filename="background.jpeg")}});
	  	-webkit-background-size: cover; /* Add in these *//*
	    -moz-background-size: cover;    /* four lines to *//*
	    -o-background-size: cover;      /* remove the white space*//*
	    background-size: cover;         /* around images 
	    color: white;
  } */
	  body{
		  width: 100%;
		  height: 100%;
		  float: left;
		  background-image: 
	    	linear-gradient(
	      	rgba(0, 0, 0, 0.5),
	      	rgba(0, 0, 0, 0.5)
	    	), url({{url_for("static" , filename="background.jpeg")}});	
		  background-size: cover;
		  color: white;
	}
	
</style>

    <div class="container module darken" style="text-align: center;">	
    	<div class="row"> 
    		<div class="col-lg-4">
    			<h1> Welcome to Sido </h1>
    		</div>
    		<div class="col-lg-8">
				<form class="form-signin" method="POST" action="/auth/login">
					<h2 class="form-signin-heading">Please sign in</h2>
					{{ form.hidden_tag() }}
					{{ wtf.form_field(form.email) }}
					{{ wtf.form_field(form.password) }}
					<button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
				</form>

				<div class= "center-block" style="width: 300px; text-align:center;">
                    <a href="{{ url_for("google.login") }}"><button class="btn btn-lg btn-success btn-block" style="display: block; margin: 0 auto;" type="button"> Login with Google </button></a><br>
					<a href="{{ url_for('mod_auth.signup') }}"><button class="btn btn-lg btn-success btn-block" style="display: block; margin: 0 auto;" type="button">Create Account</button></a> <br>
					<a href="{{ url_for('mod_auth.signup_shop') }}"><button class="btn btn-lg btn-success btn-block" style="display: block; margin: 0 auto; type=">Register your Shop!</button> </a><br>
                    <a href="{{ url_for('mod_auth.reset_password_request') }}"><button class="btn btn-lg btn-success btn-block" style="display: block; margin: 0 auto; type=">Forgot your password</button> </a><br>
				</div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <H1 class="{{ category }}">{{ message }}</H1>
                {% endfor %}
            {% endif %}
        {% endwith %}
		</div>
		</div>
		 <hr>
    </div> 
    <div class="container" >
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Find your favorite shops</h2>
              <p><b>Connect with all of your favorite shops at one place and book appointments effortlessly. </b></p>
          </div>
          <div class="col-md-4">
            <h2>Save time</h2>
              <p><b>Find a time that fits in your calendar with just few clicks and skip the waiting room. </b></p>
          </div>
          <div class="col-md-4">
            <h2>Reach further</h2>
              <p><b>Are you a shop owner? Join our community and reach new customers in no time.</b></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->


{% endblock %}

