<!-- Author Daniel Bis -->

{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign Up
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="../../static/signin.css">
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
         <div class="navbar-header">
          <a class="navbar-brand" href="{{url_for('mod_provider.dashboardprovider')}}">Sido</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{url_for('mod_provider.dashboardprovider')}}">Dashboard</a></li>
            <li><a href="{{ url_for('mod_provider.add_schedule') }}">Add schedule</a></li>
            <li class="active"><a href="{{ url_for('mod_auth.signup_employee') }}">Add employee</a></li>
            <li><a href="{{ url_for('mod_provider.addservice') }}">Add service</a></li>
            <li><a href="{{ url_for('mod_provider.book_appointment_date') }}">Book Appointment</a></li>

            <li><a href="{{ url_for('mod_auth.logout') }}">Log Out</a></li>

          </ul>
        </div>
      </div>
</nav>
<div class="container">

  <form class="form-signin" method="POST" enctype="multipart/form-data" action="/auth/signupemployee">
    <h2 class="form-signin-heading">Register a new employee</h2>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.firstname) }}
    {{ wtf.form_field(form.lastname) }}
    {{ wtf.form_field(form.email) }}
    {{ wtf.form_field(form.phonenumber) }}
    {{ wtf.form_field(form.password) }}
    {{ wtf.form_field(form.image) }}
    {{ wtf.form_field(form.manager) }}


    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
  </form>

</div> <!-- /container -->
{% endblock %}