<!-- Author Daniel Bis -->

<!--Please pass in all shops description, name, location(just city like tallahassee, image), -->


{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard Customer
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../../static/dashboardcustomer.css">
{{super()}}
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Sido</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Welcome to Dashboard Customer<span class="sr-only">{{name}}</span></a></li>
            <li><a href="{{ url_for('mod_auth.logout') }}">Log Out</a></li>
           

          </ul>
        </div>
      </div>
    </nav>
<div class="container" style="margin-top: 5%; ">
 {% for shop in shops %}
   <div class="row " style="margin-top: 5%">
        <div class="col-md-12" style="margin-top: 5%">
            <div class="card w-50" style="width: 50rem;">
                <img src="{{url_for('static', filename='city.jpg')}}" class="img-responsive"/>
                <div class="card-body">
                    <h5 class="card-title">{{shop.name}}</h5>
                    <p class="card-text">We specialize in many services and our shop is located in {{shop.location}}</p>
                    <p class="card-text">{{shop.description}}</p>
                    <a href="#" class="btn btn-primary">Page</a>
                </div>
            </div>
        </div>
{% endfor %}

</div>





{% endblock %}