
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
{{ my_profile.shop_name }}
{% endblock %}

{% block styles %}
{{super()}}

{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<script type="application/javascript">

    $(document).on("click", "#slot", function(){
    var r = confirm("Are you sure that you want to remove this employee?");
    if (r === true){
        console.log($(this).val())
    	$.ajax({
	      method:'post',
	      url:'/provider/delete_employee',
	      data: JSON.stringify({
	              employee_id: $(this).val(),

	      }),
	      contentType: 'application/json',
	      error: function(data){
	        alert("Something went wrong. Try again please.")
	      },
	      success: function(data) {
	        if (data == "success"){
	          alert("Employee removed")
              location.reload();
	        }
	        else{
	          alert("Sorry, something went wrong. Try again please.")
	        }
	      }
	    })
    }

  });
    </script>
{% endblock %}


{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top" >
  <div class="container-fluid">
     <div class="navbar-header">
      <a class="navbar-brand" href="{{url_for('mod_provider.dashboardprovider')}}">Sido</a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" style="color: white;">
                Menu
            </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
         <li><a href="{{url_for('mod_provider.dashboardprovider')}}">Dashboard</a></li>
        <li ><a href="{{ url_for('mod_provider.schedules') }}">Schedules</a></li>
        <li><a href="{{ url_for('mod_provider.add_schedule') }}">Add schedule</a></li>
        <li><a href="{{ url_for('mod_auth.signup_employee') }}">Add employee</a></li>
        <li><a href="{{ url_for('mod_provider.addservice') }}">Add service</a></li>
        <li><a href="{{ url_for('mod_provider.book_appointment_date') }}">Book Appointment</a></li>
        <li><a href="{{ url_for('mod_provider.profile') }}">Profile</a></li>

        <li><a href="{{ url_for('mod_auth.logout') }}">Log Out</a></li>

      </ul>
    </div>
  </div>
</nav>
<div class="container" style=" ">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li class="alert alert-success">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
<div class="card" style="width: 550px !important;">
  <div class="card-body" style="border: 5px black !important;">
  {% if my_profile.img_path|length > 1 %}
  <img class="card-img-top" src="http://res.cloudinary.com/sidoproject/{{ my_profile.img_path }}" alt="Card image cap" style="width:550px; height: 360px;">
  {% endif %}
  {% if my_profile.img_path |length < 1 %}
  <img class="card-img-top" src="{{ url_for('static', filename='http://res.cloudinary.com/sidoproject/image/upload/v1522981283/fr/barber.jpg') }}" alt="Card image cap" style="width:550px; height: 360px;">
  {% endif %}
  <hr>
  <h1 class="card-title" style="margin-top: 10px; margin-left: 2.5%;">{{ my_profile.shop_name }}</h1>
  <hr>
<h4 style="margin-left: 2.5%;">Location: {{ my_profile.location }}</h4>
<h4 style="margin-left: 2.5%;">Phone Number: {{ User_profile.phone_number }}</h4>
<h4 style="margin-left: 2.5%;">Owner Name: {{ User_profile.last_name }} {{ User_profile.first_name }}</h4>
<hr>

{% if User_profile == current_user %}
<a href="{{ url_for('mod_provider.edit_profile') }}" class="btn btn-primary btn-lg" style="margin-top: 10px; margin-left: 2.5%; margin-right: 2.5%; width: 45%; ">Edit your profile</a>
<a href="{{ url_for('mod_provider.update_password') }}"class="btn btn-primary btn-lg" style="margin-top: 10px; margin-left: 2.5%; margin-right: 0%; width: 45%; ">Update Password</a>
{% endif %}
  </div>
</div>
<hr>
<h3 style="margin-top: 20px;">Employees</h3>
<hr>
<ul class="list-group">
{% for e in employees %}
    <li class="list-group-item">{{ e.first_name }} {{ e.last_name }} <button class="btn btn-danger" id="slot" value={{ e.id }} style=" float: right;">Remove Employee</button> <a href="{{ url_for('mod_provider.edit_employee', id=e.id )}}"><button class="btn btn-primary" value={{ e.id }} style=" float: right; margin-right: 5px;">Edit Employee </button> </a></li>
{% endfor %}
</ul>
</div>


{% endblock %}
