{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard Customer
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
         <div class="navbar-header">
          <a class="navbar-brand" href="{{url_for('mod_provider.dashboardprovider')}}">Sido</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="{{ url_for('mod_provider.add_schedule') }}">Add schedule</a></li>

            <li><a href="{{ url_for('mod_auth.signup_employee') }}">Add employee</a></li>
            <li><a href="{{ url_for('mod_provider.addservice') }}">Add service</a></li>
            <li><a href="{{ url_for('mod_auth.logout') }}">Log Out</a></li>

          </ul>
        </div>
      </div>
</nav>

<div class="container" style="margin-top: 5%; ">
 <h3>{{message}} </h3>
  <a href="{{ url_for('mod_provider.dashboardprovider') }}"><button class="btn btn-lg btn-primary btn-block">Back to the Dashboard</button></a>
</div>
{% endblock %}