<!-- Author Daniel Bis -->

{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
  {{super()}}
{% endblock %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

    <link rel="stylesheet" href="../../static/date_picker.css">
{% endblock %}

{% block scripts %}
  {{super()}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

  <script type="text/javascript">
  var $slots = $('#schedules');  
  var date_string;
  // TO DO: on load get schedules for today
  /*$( document ).ready(function() {
      $.ajax({
        method: 'get',
        url: '/provider/reload_schedules',
        data: { date : $("#datepicker").val()
              },
        success: function(data) {
            data = data;
            console.log(data);
            $slots.empty();
            var len = data.length;
            var i;
            for (i = 0; i < len; i++){
                $slots.append(
                    "<div class = 'card bg-transparent' style='text-align:left border: 5px; border-color:#66c880;'> \
                        <div class = 'card-body bg-transparent'> \
                          <h5 class='card-title' style='padding: 10px; padding-bottom: 5px;'>" + data[i][2] + " " +data[i][3] +":  "+ data[i][0] +  "-" + data[i][1] + " </h5>\
                          <h6 class='card-subtitle mb-2 text-muted' style='padding-left: 10px; padding-bottom: 5px;'>" + data[i][4]+ "</h6>\
                         </div>\
                      </div>"
                  );
              }
            }
      });
  });    */
  $(function(){
    $('#datepicker').datepicker({
      inline: true,
      showOtherMonths: true,
      dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
      altField: ".dtpick",
      onSelect : function executeQuery() {
                  date_string = $("#datepicker").val();
                  console.log("date_string ", date_string)
                  $.ajax({
                      method: 'get',
                      url: '/provider/reload_schedules',
                      data: { date : $("#datepicker").val()
                            },
                      success: function(data) {
                          data = data;
                          console.log(data);
                          $slots.empty();
                          var len = data.length;
                          var i;
                          for (i = 0; i < len; i++){
                              $slots.append(
                                  "<div class = 'card bg-transparent' style='text-align:left border: 5px; border-color:#66c880;'> \
                                      <div class = 'card-body bg-transparent'> \
                                        <h5 class='card-title' style='padding: 10px; padding-bottom: 5px;'>" + data[i][2] + " " +data[i][3] +":  "+ data[i][0] +  "-" + data[i][1] + " </h5>\
                                        <h6 class='card-subtitle mb-2 text-muted' style='padding-left: 10px; padding-bottom: 5px;'>" + data[i][4]+ "</h6>\
                                       </div>\
                                    </div>"
                                );
                            }
                          }
                    });
                  }
    }).datepicker("setDate", "0");
  });



  </script>
{% endblock %}

{% block title %}
Schedules–
{% endblock %}


{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top .bg-secondary" >
      <div class="container-fluid">
         <div class="navbar-header">
          <a class="navbar-brand" href="{{url_for('mod_provider.dashboardprovider')}}">Sido</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{url_for('mod_provider.dashboardprovider')}}">Dashboard</a></li>
            <li class="active"><a href="{{ url_for('mod_provider.schedules') }}">Schedules</a></li>
            <li><a href="{{ url_for('mod_provider.add_schedule') }}">Add schedule</a></li>
            <li><a href="{{ url_for('mod_auth.signup_employee') }}">Add employee</a></li>
            <li><a href="{{ url_for('mod_provider.addservice') }}">Add service</a></li>
            <li><a href="{{ url_for('mod_provider.book_appointment_date') }}">Book Appointment</a></li>
            <li><a href="{{ url_for('mod_provider.profile') }}">Profile</a></li>

            <li><a href="{{ url_for('mod_auth.logout') }}">Log Out</a></li>

          </ul>
        </div>
      </div>
    </nav>

<div class="container" style="margin-top: 5%;">

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">    <div id="datepicker"> </div>
    </div>
    <div class="col-sm-2"></div>
  </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-2"></div>
        <div class="col-sm-8" id="schedules" style="width: 100%;">
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>




</div>




{% endblock %}