<!-- Author Daniel Bis -->


{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard Customer
{% endblock %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Sido</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Welcome to <span class="sr-only">{{shop_name}}</span></a></li>
            <li><a href="{{ url_for('mod_auth.logout') }}">Log Out</a></li>
           

          </ul>
        </div>
      </div>
    </nav>

<div class="container" style="margin-top: 5%; ">
 {% if confirmation["open"] == "True" %}
     <div class="card border-dark text-center">
      <div class="card-header">
        <div class="alert alert-success"> {{confirmation["message"]}} </div>
      </div>
      <div class="card-body">
        <h5 class="card-title"> Confirmation
    </h5>
          <div class="row">
              <div class="col col-md-6" style="text-align: right;">
                  <p><b>Service: </b> {{confirmation.service_name}}</p>
              </div>
              <div class="col col-md-6" style="text-align: left;">
                  <p><b>Time: </b> {{confirmation.date_scheduled}}</p>

              </div>
          </div>
          <div class="row">
              <div class="col col-md-6" style="text-align: right;">
                <p> <b>Shop:</b> {{confirmation.shop_name}}</p>

              </div>
              <div class="col col-md-6" style="text-align: left;">
                  <p><b>Price: </b> {{confirmation.price}}</p>

              </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        Powered by Sido
      </div>
 {% endif %}
 {% if confirmation["open"] == "False" %}
  <div class="alert alert-warning" "> {{confirmation["message"]}} </div>
 {% endif %}
 <a href="{{ url_for('mod_customer.dashboardcustomer') }}"><button class="btn btn-lg btn-primary btn-block">Back to the main page</button></a>

</div>
{% endblock %}