<!-- Author Daniel Bis -->


{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard Customer
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{url_for('mod_customer.dashboardcustomer')}}">Sido</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">{{shop_name}}'s crew is listed below </a></li>
            <li><a href="{{url_for('mod_customer.dashboardcustomer')}}">Dashboard </a></li>

            <li><a href="{{ url_for('mod_customer.history') }}">Your Appointments</a></li>

            <li><a href="{{ url_for('mod_auth.logout') }}">Log Out</a></li>
           

          </ul>
        </div>
      </div>
    </nav>

<div class="container" style="margin-top: 5%; ">
  {% for employee_row in employees | batch(3, '&nbsp;') %}
  <div class="row">
      {% for employee in employee_row %}
      {% if employee.id  %}
      <div class="col-md-4">
        <div class="card" style="width: 100%; margin-bottom: 2rem; border: 1px solid rgba(0, 0, 0, 0.125);
        }
    border-radius: 0.25rem; text-align: justify;" >
                {% if employee.img_path|length > 1 %}
                  <img class="img-responsive" src="/static/img/{{employee.img_path}}" alt="Card image cap" style="width:550px; height: 360px;";/>
                {% endif %}
                {% if employee.img_path|length < 1 %}
                  <img src="{{url_for('static', filename='city.jpg')}}" style="width:550px; height: 360px;"; class="img-responsive"/>
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{employee.first_name}} {{employee.last_name}}</h5>
                    <p class="card-text"> {{employee.email}}</p>
                    <p class="card-text">employee.description</p>
                    <a href="{{url_for('mod_customer.availability', shop_name=shop_name, empl_id = employee.id)}}" class="btn btn-primary btn-block">Availability</a>
                </div>
            </div>
      </div>
      {% endif %}
      {% endfor %}
  </div>
  
  {% endfor %}
  
  </div>

{% endblock %}