
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
my_profile.first_name
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sido</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Welcome to Dashboard Customer<span class="sr-only">{{name}}</span></a></li>
        <li><a href="{{ url_for('mod_customer.history') }}">Your Appointments</a></li>

        <li><a href="{{ url_for('mod_auth.logout') }}">Log Out</a></li>
          <li><a href="{{ url_for('mod_customer.profile') }}">Profile</a></li>


      </ul>
    </div>
  </div>
</nav>
<div class="container" style="margin-top: 5%;">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <h1>Your Information</h1>
<hr>

<h3>Name: {{ my_profile.first_name }} {{ my_profile.last_name }}</h3>
<h3>Email: {{ my_profile.email }}</h3>
<h3>Phone Number: {{ my_profile.phone_number }}</h3>
<hr>
{% if my_profile == current_user %}
<a href="{{ url_for('mod_customer.edit_profile') }}" class="btn btn-primary btn-lg">Edit your profile</a>
<a href="{{ url_for('mod_customer.update_password') }}"class="btn btn-primary btn-lg">Update Password</a>
{% endif %}





</div>


{% endblock %}
