
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
Change Password
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sido</a>
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" style="color: white;">
                Menu
         </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Welcome to Dashboard Customer<span class="sr-only">{{name}}</span></a></li>
        <li><a href="{{ url_for('mod_customer.history') }}">Your Appointments</a></li>

        <li><a href="{{ url_for('mod_auth.logout') }}">Log Out</a></li>
          <li><a href="{{ url_for('mod_customer.profile') }}">Profile</a></li>


      </ul>
    </div>
  </div>
</nav>
<div class="container" style=" ">
  <h1>Update Password</h1>
  <form action="" method="post">
      {{ form.hidden_tag() }}
      <p>
          {{ wtf.form_field(form.old_password)}}<br>
          {% for error in form.old_password.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p>
          {{ wtf.form_field(form.new_password)}}<br>

          {% for error in form.new_password.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p>
          {{ wtf.form_field(form.val_password)}}<br>

          {% for error in form.val_password.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <button class="btn btn-lg btn-primary" type="submit">Update</button>  </form>
  </form>





</div>


{% endblock %}
