<!-- Author Daniel Bis -->


{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Sido</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Welcome<span class="sr-only">{{name}}</span></a></li>
            <li><a href="{{ url_for('mod_auth.logout') }}">Log Out</a></li>
            <li><a href="{{ url_for('mod_auth.signup_employee') }}">Add employee</a></li>
            <li><a href="{{ url_for('mod_provider.add_schedule') }}">Add schedule</a></li>

          </ul>
        </div>
      </div>
    </nav>


    {% for e in empl_app %}
    <p>{{e[0].first_name}} {{e[0].last_name}} </p>
    {% for a in e[1] %}
    <p> {{a["time"]}} {{a["clien_first"]}} {{a["client_last"]}} {{a["service_type"]}} </p>
    {% endfor %}
    {% endfor %}
    
    
    
{% endblock %}